body {
    margin:0;
}

.header{
    width: 80%;
    margin: 0 auto;
}

header {
    background: #34acbc;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo{
    float: left;
    padding: 0px;
    width: 1px;
    height: 2px;
}

nav{
    float: right;
}

nav ul{
    margin:0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;

    position: relative;
}

nav a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: #2f3335;

}

nav a::before {
content: '';
display: block;
height: 5px;
background-color: black;

position: absolute;
top: 0;
width: 0%;

transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}